.create-review-button {
    background-color: rgb(217 11 101);
    border: 1px solid rgb(210, 210, 210);
    height: 28px;
    border-radius: 6px;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
}

.create-review-button:hover {
    background-color: rgb(131, 7, 61);
    cursor: pointer;
}

.create-review-container {
    margin-top: -27px;
    margin-bottom: 20px;
    margin-left: 0px;
}