.delete-spot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 500px;
    padding: 25px;
}

.delete-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.confirm-delete-button, .cancel-delete-button {
    height: 50px;
    width: 100%;
    background: linear-gradient(45deg, rgb(230 29 80), rgb(216 8 102) 40%);
    border: none;
    color: white;
    font-size: large;
    font-weight: 500;
    border-radius: 6px;
    justify-content: space-between;
    margin-bottom: 14px;
}

.confirm-delete-button {
    margin-right :1px;
}

.cancel-delete-button {
    margin-left: 1px;
}

.confirm-delete-button:hover {
    background: linear-gradient(45deg, rgb(216 8 102), rgb(230 29 80));
}

.cancel-delete-button:hover {
    background: linear-gradient(45deg, rgb(216 8 102), rgb(230 29 80));
}

.delete-warning-message {
    margin-bottom: 30px;
}

.delete-spot-button {
    height: 25px;
    margin-left: 2px;
    background-color: white;
    border-radius: 35px;
    border: 1px solid rgb(210, 210, 210);
}

.delete-spot-button:hover {
    background-color: rgb(245, 242, 242);
    cursor: pointer;
}

.confirm-delete-button:hover {
    cursor: pointer;
}

.cancel-delete-button:hover {
    cursor: pointer;
}