/* .delete-buttons {
    display: flex;
    justify-content: center;
} */

/* .delete-buttons > button {
    margin-right: 1em;
} */

/* .delete-buttons > button:last-of-type {
    margin-right: 0;
} */

.delete-spot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 500px;
    padding: 25px;
}

.delete-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.confirm-delete-button, .cancel-delete-button {
    height: 50px;
    width: 100%;
    background-color: rgb(215, 4, 102);
    border: none;
    color: white;
    font-size: large;
    border-radius: 6px;
    justify-content: space-between;
    margin-bottom: 14px;
    /* margin-top: 50px; */
}

.confirm-delete-button {
    margin-right :1px;
}

.cancel-delete-button {
    margin-left: 1px;
}

/* .delete-spot-question { */
    /* padding-top: 50px; */
    /* padding-bottom: 32px; */
/* } */

.delete-warning-message {
    margin-bottom: 30px;
 
}