.bookings-outer-container {
    min-height: 800px;
    margin-left: 158px;
    padding-bottom: 20px;
}

.bookings-trips-header {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 500;
}

.bookings-reservations-container {
    margin-top: 40px;
    height: auto;
    border-bottom: 1.7px solid;
    padding-bottom: 50px;
    margin-right: 100px;
    border-color: rgb(227, 227, 227);
}

.bookings-upcoming-reservation:hover {
    cursor: pointer;
}

.bookings-reservation-container {
    margin-top: 30px;
}

.bookings-reservations-header {
    font-size: 1.35rem;
    font-weight: 400;
}

.bookings-reservation {
    width: 860px;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 25px 12px;
    height: 210px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}

.bookings-reservation-spot-name {
    font-size: 1.5rem;
    font-weight: 400;
    height: 35px;
    width: 400px;
    overflow: hidden;
}

.bookings-reservation-left-top {
    margin-left: 25px;
    padding-top: 30px;
}

.bookings-reservation-owner {
    font-size: 0.85rem;
    color: gray;
}

.bookings-reservation-left-bottom {
    display: flex;
    flex-direction: row;
    width: 430px;
}

.bookings-reservation-left-border-bottom {
    border-bottom: 1.5px solid;
    width: 380px;
    border-color: rgb(227, 227, 227);
    margin-left: 20px;
    margin-top: 25px;
}

.bookings-reservation-left-bottom-left {
    margin-top: 16px;
    margin-left: 22px;
    font-size: 0.85rem;
    color: gray;
}

.bookings-reservation-left-border-right {
    border-right: 1.5px solid;
    height: 60px;
    margin-left: 20px;
    margin-top: 16px;
    border-color: rgb(227, 227, 227);
}

.bookings-reservation-preview-image {
    object-fit: cover;
    height: 209px;
    width: 427px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: 1px;
}

.bookings-reservation-year {
    margin-left: 3px;
}

.bookings-reservation-city-state {
    font-size: 1.05rem;
    color: rgb(72, 72, 72);
    margin-left: 20px;
    margin-top: 20px;
}

.bookings-reservation-country {
    font-size: 0.9rem;
    color: gray;
    margin-left: 20px;
}

.bookings-no-trips-container {
    height: 600px;
}

.bookings-no-trips {
    height: 270px;
    width: 1244px;
    border: 1px solid;
    border-color: rgb(216, 216, 216);
    border-radius: 12px;
    margin-top: 40px;
    background-color: white;
    display: flex;
}

.bookings-no-trips-left {
    margin-top: 25px;
    margin-left: 25px;
}

.bookings-no-trips-hand-wave-icon {
    height: 60px;
}

.bookings-no-trips-text {
    font-size: 1.11rem;
    font-weight: 500;
    margin-top: 12px;
}

.bookings-no-trips-text2 {
    font-size: 0.83rem;
    width: 350px;
    font-weight: 300;
    color: rgb(113, 113, 113);
    margin-top: 10px;
}

.bookings-no-trips-start-searching-button {
    height: 45px;
    width: 165px;
    border-radius: 8px;
    color: white;
    line-height: 2.9;
    text-align: center;
    font-size: 0.95rem;
    font-weight: 400;
    margin-top: 20px;
    background: linear-gradient(45deg, rgb(230 29 80), rgb(216 8 102) 60%);
}

.bookings-no-trips-start-searching-button:hover {
    cursor: pointer;
    background: linear-gradient(45deg, rgb(216 8 102), rgb(230 29 80));
}

.bookings-no-trips-right {
    margin-left: 70px;
    margin-top: -1.2px;
}

.bookings-no-trips-family-photo {
    height: 272px;
    width: 800px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}