.booking-confirmation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.booking-confirmation-left-container {
    height: 100%;
    overflow: scroll;
}

.booking-confirmation-left {
    background-color: white;
}

.booking-confirmation-left-container {
    background-color: rgb(235, 235, 235);
    max-width: 590px;
    padding-right: 10px;
    padding-top: 10px;
}

.booking-confirmation-spot-image {
    height: 418px;
    width: 591px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.booking-confirmation-back-arrow-container {
    position: relative;
    top: -400px;
    left: 18px;
}

.booking-confirmation-back-arrow {
    height: 32px;
}

.booking-confirmation-back-arrow:hover {
    cursor: pointer;
}

.booking-confirmation-left-upper {
    height: 418px;
}

.booking-confirmation-left-middle {
    display: flex;
    flex-direction: row;
    border-color: rgb(235, 235, 235);
    margin-left: 20px;
    margin-right: 20px;
    height: 120px;
}

.booking-confirmation-check-in-date {
    width: 255px;
    margin-top: 28px;
}

.booking-confirmation-dates-border {
    height: 70px;
    border-right: 1.5px solid;
    margin-top: 25px;
    margin-bottom: 15px;
    border-color: rgb(235, 235, 235);
}

.booking-confirmation-check-out-date {
    padding-left: 25px;
    margin-top: 28px;

}

.booking-confirmation-checkin-checkout-text {
    font-size: 0.85rem;
    font-weight: 400;
}

.booking-confirmation-checkin-checkout-date {
    font-size: 0.95rem;
    font-weight: 500;
    margin-top: 3px;
}

.booking-confirmation-checkin-checkout-time {
    font-size: 0.87rem;
    color: rgb(136, 136, 136);
    font-weight: 300;
    margin-top: -1px;
    margin-left: 1px;
}

.booking-confirmation-left-lower {
    height: auto;
    background-color: white;
    margin-top: 8px;
    margin-bottom: 8px;
}

.booking-confirmation-reservation-details-user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1.5px solid;
    padding-bottom: 30px;
    border-color: rgb(235, 235, 235);
}

.booking-confirmation-user-profile-image {
    border-radius: 40px;
    margin-top: 60px;
    margin-right: 5px;
}

.booking-confirmation-air-cover-icon {
    height: 16px;
    margin-bottom: -2px;
    margin-left: -4px;
}

.booking-confirmation-reservation-details-container {
    margin-left: 22px;
    padding-top: 22px;
    margin-right: 22px;
    padding-bottom: 20px;
}

.booking-confirmation-reservation-details-text {
    font-size: 1.35rem;
    font-weight: 400;
    margin-top: 2px;
}

.booking-confirmation-whos-coming-text {
    font-size: 0.95rem;
    font-weight: 500;
    margin-top: 28px;
}

.booking-confirmation-num-guests-text {
    font-size: 0.9rem;
    color: rgb(78, 78, 78);
    margin-top: 6px;
    font-weight: 400;
}

.booking-confirmation-confirmation-code-text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 0.97rem;
}

.booking-confirmation-confirmation-code {
    font-size: 1.01rem;
    color: rgb(78, 78, 78);
    border-bottom: 1.5px solid;
    padding-bottom: 23px;
    border-color: rgb(235, 235, 235);
    margin-top: 5px;
}

.booking-confirmation-aicover-guarantee {
    margin-top: 20px;
    font-size: 0.95rem;
    border-bottom: 1.5px solid;
    border-color: rgb(235, 235, 235);
}

.booking-confirmation-guarantee-text {
    color: rgb(78, 78, 78);
}

.booking-confirmation-learn-more-text {
    font-size: 0.95rem;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 6px;
    padding-bottom: 23px;
    width: 100px;
}

.booking-confirmation-learn-more-text:hover {
    cursor: not-allowed;
}

.booking-confirmation-cancellation-policy {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
}

.booking-confirmation-cancellation-policy-dates {
    font-size: 0.94rem;
    font-weight: 400;
    color: rgb(78, 78, 78);
    margin-top: 5px;
}

.booking-confirmation-cancellation-policy-read-more {
    font-size: 0.95rem;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 90px;
}

.booking-confirmation-cancellation-policy-read-more:hover {
    cursor: not-allowed;
}

.booking-confirmation-manage-booking-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1.5px solid;
    border-color: rgb(235, 235, 235);
    padding-top: 14px;
    padding-bottom: 14px;
}

.booking-confirmation-manage-booking-options:hover {
    background-color: rgb(248, 248, 248);
    cursor: pointer;
}

.booking-confirmation-not-allowed:hover {
    cursor: not-allowed;
}

.booking-confirmation-manage-booking-icons {
    height: 18px;
    width: 20px;
}

.booking-confirmation-manage-booking-option {
    font-size: 0.95rem;
    font-weight: 300;
    color: rgb(19, 19, 19);
    margin-left: 15px;
}

.booking-confirmation-manage-booking-options-left {
    display: flex;
}

.booking-confirmation-manage-booking-right-arrow-icon {
    height: 13px;
    width: 9px;
    margin-left: -11px;
}

.booking-confirmation-right {
    height: 739px;
    position: sticky;
    top: 0;
    bottom: 0;
}