/* .outer-container {
    display: flex;
} */

.images {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
}

.main-image {
    max-height: 510px;
    width: 700px;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
}

.image {
    height: 250px;
    width: 350px;
}

.spot-image3 {
    border-top-right-radius: 17px;
}

.spot-image5 {
    border-bottom-right-radius: 17px;
}

.small-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 10px;
}

/* .spot-image-1 */
