
.outer-container {
    max-width: 1250px;
    margin: auto;
}

.images {
    display: flex;
    border-radius: 17px;
    overflow: hidden;
}

.main-image {
    object-fit: cover;
    max-height: 510px;
    max-width: 700px;
    width: 50%;
}

.image {
    height: 250px;
    width: 100%;
    padding-left: 10px;
    object-fit: cover;
    flex-basis: calc(50% - 10px);
    width: calc(50% - 10px);
}

.small-images {
    display: flex;
    flex-wrap: wrap;
}

.spot-name {
    font-size: larger;
}

.stars-reviews-location {
    font-size: large;
}


