/* TODO Add site wide styles */


* {
    font-family: sans-serif;
}



.center {
    margin: 100px 100px;
}

.text-black {
    color: black;
}

.mb-1 {
    margin-bottom: 8px;
}

.text-gray {
    color: rgb(95, 94, 94)
}

.text-not-as-black {
    color: rgb(40, 39, 39);
}