/* TODO Add site wide styles */

* {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: grayscale;;
}

.text-black {
    color: black;
}

.mb-1 {
    margin-bottom: 8px;
}

.text-gray {
    color: rgb(160, 158, 158)
}

.text-not-as-black {
    color: rgb(40, 39, 39);
}


