.outer-container {
    width: 250px;
}

.preview-image {
    height: 250px;
    width: 300px;
    border-radius: 20px;
}

.city-price p {
    margin: 10px 0px;
}

.preview-spot-details-outer {
    width: 250px;
}
