.outer-container {
    width: 300px;
    text-decoration: none;
    color:black
}

.preview-image {
    height: 250px;
    width: 300px;
    border-radius: 20px;
}

.city-price p {
    margin: 10px 0px;
}

/* div p {
    font: bold;
} */

.avg-rating p {
    margin: 10px 0px;
}

.preview-spot-details-outer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/* .avg-rating {
    display: flex;
    align-items: flex-end;;
} */
