.spot-card-outer-container {
    width: 330px;
    height: 395px;
    text-decoration: none;
    color:black;
    margin-right: 10px;
    padding-bottom: 20px;
}

.preview-image {
    height: 290px;
    width: 310px;
    border-radius: 20px;
}

.city-price p {
    margin: 6px 0px;
}

.avg-rating {
    font-size: 0.87rem;
    font-weight: 400;
}

.avg-rating p {
    margin: 10px 0px;
}

.avg-rating > p {
    margin-top: 8px;
}

.preview-spot-details-outer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 30px;
}

.city-state {
    font-size: 0.9rem;
    font-weight: 500;
}

.spot-country {
    font-size: 0.9rem;
    font-weight: 400;
}

.price {
    font-size: 0.9rem;
    font-weight: 500;
}

.price span {
    font-weight: 400;
    font-size: 0.9rem;
}

.user-image {
    border-radius: 100%;
}



