.content-wrapper {
    padding-top: 20px;
}

/* @media (max-width: 870px) {
    .center {
        margin: 100px 100px;
    }
} */

/* @media(min-width: 871px) {
    .center {
        margin: 0px 50px;
    }
} */

/* .spot-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border: 5px;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
} */

.spot-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    margin-left: 25px;
}

