.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-bottom: 10px;
    padding-left: 50px;
    margin-right: 50px;
    padding-top: 10px;
}

.nav {
    border-bottom: solid;
    color: rgb(235, 233, 233);
    position: sticky;
    top: 0;
    background-color: white;
    justify-content: center;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 35px;
    width: 70px;
    position: relative;
}

.dropdown-menu {
    position: relative;
    background-color: white;
    width: 260px;
    height: auto;
    margin-top: 52px;
    margin-left: -183px;
    border-radius: 7px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(44, 44, 44);
    z-index: 9;
}

.login-container {
    padding: 18px;
    margin-left: -215px;
}

.dropdown-menu-upper {
    display: flex;
    flex-direction: column;
}

.shift-right {
    margin-left: 18px;
}

.shift-down {
    line-height: 2.9
}

.shift-down-1 {
    padding-top: 5px;
    margin-bottom: -1px;
}

.shift-down-2 {
    padding-top: 5px;
}

.shift-up-1 {
    padding-bottom: 4px;
}

.dropdown-menu-lower {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 300;
}

.dropdown-menu-options:hover {
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}

.dropdown-menu-border-bottom {
    border-bottom: solid;
    border-bottom-color: rgb(217, 217, 217);
}

.logout-button:hover {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.username-div {
    margin-bottom: 7px;
}

.menu {
    display: flex;
    margin-top: 5px;
    margin-right: 25px;
    display: flex;
    align-items: center;
}

.logo {
    height: 34px;
    width: 110px;
    margin-left: 30%;
}

@media(max-width: 700px) {
    .nav-bar {
        margin-left: -20% !important;
        margin-right: 0% !important;
    }

    .menu {
        margin-left: 40px;
    }
}

/* @media(min-width: 1691px) {
    .nav-bar {
        margin-left: 4.2% !important;
        margin-right: 4% !important;
    }
} */

.login-button {
    width: 100%;
    padding: 10px 0;
    border-radius: 6px;
    background: linear-gradient(45deg, rgb(230 29 80), rgb(216 8 102) 50%);
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    border: none;
}

.login-button:hover {
    cursor: pointer;
    background: linear-gradient(45deg, rgb(216 8 102), rgb(230 29 80));
}

.login, .login a {
    margin-top: 5px;
}

.user-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 41px;
    width: 77px;
    color: rgb(86, 84, 84);
    border-radius: 28px;
    border: 0.7px solid rgb(202, 201, 201);
    background-color: white;
    /* z-index: 9; */
    position: absolute;
}

.user-menu:hover {
    box-shadow: 0px 2px 6px rgb(201, 200, 200);
    cursor: pointer;
}

.nav-link-container {
    margin-top: 5px;
}

.nav-link {
    margin-left: 3%;
}

hr {
    color: pink;
}

.dropdown-my-bookings {
    color: black;
}

.globe-icon {
    height: 16px;
    margin-left: 13px;
    margin-top: 13px;
}

.globe-icon:hover {
    border-radius: 40px;
    background-color: rgb(252, 252, 252);
}

.globe-icon-container {
    height: 43px;
    width: 43px;
    margin-right: 10px;
    margin-top: 3px;
}

.globe-icon-container:hover {
    background-color: rgb(235, 235, 235);
    border-radius: 50px;
}



