.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 20px;
}

.nav {
    border-bottom: solid;
    color: rgb(235, 233, 233);
    position: sticky;
    top: 0;
    background-color: white;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100px;
    width: 70px;
    position: relative;
    /* justify-content: space-between; */
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    /* border: 1px solid gray; */
    width: 250px;
    top: 43px;
    right: 0;
    border-radius: 4px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    padding: 14px;
}

.menu {
    display: flex;
    margin-top: 10px;
}

.become-a-host {
    margin-right: 25px;
}

.login-button, .logout-button {
    width: 100%;
    padding: 10px 0;
    border-radius: 6px;
    background-color: rgb(235, 76, 96);
    color: white;
}

.login, .login a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 13px;
}


.user-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 75px;
    color: rgb(86, 84, 84);
    border-radius: 20px;
    border: none;
    background-color: white;
    box-shadow: 0 0 3px rgb(191, 190, 190);
    box-shadow: 0 0 3px gray;
}

.user-menu:hover {
    box-shadow: 1px 1px 5px rgb(158, 157, 157);
}

.logo {
    height: 50px;
    width: 140px;
}

hr {
    color: pink;
}


