.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    max-width: 500px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
}

@media(min-width: 700px) {
    .login-form {
        min-width: 500px;
    }
}

.login-form-buttons {
    background: linear-gradient(45deg, rgb(230 29 80), rgb(216 8 102) 50%);
    color: white;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    font-size: 1em;
    border: none;
    margin-top: 6px;
    font-weight: 500;
}

.login-form-buttons:hover {
    cursor: pointer;
    background: linear-gradient(45deg, rgb(216 8 102), rgb(230 29 80));
}

.login-title {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    font-weight: 500;
}

.continue {
    margin-top: 40px;
}

input {
    width: calc(100% - 16px);
    height: 50px;
    border-radius: 6px;
    border-color: gray;
    font-size: large;
    margin-top: 12px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid rgb(164, 163, 163);
}

.login-errors {
    margin-top: -17px;
}

.login-errors-text {
    font-size: 0.8rem;
    margin-top: -1px;
    color: red;
}